# Environment and dependency files
.env
.venv/
requirements.txt

# Editor and IDE files
.vscode/

# Python-specific files
__pycache__/

# Logs
*.log

# Project-specific files
Sample Test File/
SavedFaces/
yolo-Weights/

# Other file types
*.ui
*.pdf
